/* 清楚默认样式 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    background-color: rgb(60, 63, 63);
    /* flex 布局居中 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* wrap容器 */
.wrap{
    display: flex;
    width: 90vw;
    /* border: 1px solid red; */
}

.card{
    /* border: 1px solid yellow; */
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;

    /*  
        flex: none | [ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ]
        flex-grow属性定义项目的放大比例，默认为0，即如果存在剩余空间，也不放大。
     */
    flex: 0.5;
    cursor: pointer;
    height: 80vh;
    position: relative;
    margin: 10px;

    transition: all 0.7s ease-in;
}

/* 文字位置 */
.card h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    transition: opacity 0s ease-in 0s;
}

/* 展示的手风琴 */
.card.active{
    flex: 5;
}
.card.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 500px) {
    .wrap{
        width: 100vw;
    }
    .card:nth-child(4){
        display: none;
    }
    .card:nth-child(5){
        display: none;
    }
}